<legend>Procrast</legend>

<div class="row">
	<div class="col-sm-12">
		<%= form_for @link, html: {class: "form-horizontal"} do |f| %>
			
			<div class="form-group">
				<%= f.label :name, class: "col-sm-2 control-label" %>
				<div class="col-sm-10">
					<%= f.text_field :name, class: "form-control" %>
				</div>
			</div>
			
			<div class="form-group">
				<%= f.label :url, class: "col-sm-2 control-label" %>
				<div class="col-sm-10">
					<%= f.text_field :url, class: "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<%= f.label :description, class: "col-sm-2 control-label" %>
				<div class="col-sm-10">
					<%= f.text_area :description, class: "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<%= f.label :tag_list, "Tags", class: "col-sm-2 control-label" %>
				<div class="col-sm-10">
					<%= f.text_field :tag_list, class: "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<div class="text-center">
					<%= f.submit "Guardar link" , class: "btn btn-default" %>
				</div>
			</div>

		<% end %>		
	</div>
</div>

<h1>Mostrando 
	<small> 
		<% if params[:tag] %>
			<%= link_to params[:tag], links_path(tag: params[:tag]), class: "label label-info" %>
			<%= link_to "x", links_path, class: "label label-default" %>
		<% else %>
			<%= raw Link.tag_counts.map {|t| link_to t.name, links_path(tag: t.name), class: "label label-info"}.join(" ") %>
		<% end %>
	</small> 
</h1>

<div class="row">
	<div class="col-sm-12">
		<table class="table">
			<thead>
				<th>Id</th>
				<th>Nombre</th>
				<th>Url</th>
				<th>Tags</th>
				<th>Description</th>
				<th></th>	
			</thead>
			<tbody>
				<% @links.each do |l| %>
					<tr>
						<td><%= l.id %></td>
						<td><%= link_to l.name, l %></td>
						<td><%= link_to l.url, l.url, target: "_blank" %></td>
						<td><%= raw l.tag_list.map {|t| link_to t, links_path(tag: t), class: "label label-info"}.join(" ") %></td>
						<td><%= l.description %></td>
						<td>
							<%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, link_path(l), "data-method" => :delete, class: "label label-default", "data-confirm" => "Seguro de que quieres eliminar este link?" %>
							<%= link_to '<i class="fa fa-external-link"></i>'.html_safe, l.url, class: "label label-default", target: "_blank" %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>


