<div class="page-header">
	<button class="btn btn-primary pull-right" data-toggle="modal" data-target="#newLinkModal">Agregar nuevo link</button>
	<h1>Procrast</h1>
</div>

<h1>Mostrando 
	<small> 
		<% if params[:tag] %>
			<%= link_to params[:tag], links_path(tag: params[:tag]), class: "label label-info" %>
			<%= link_to "x", links_path, class: "label label-default" %>
		<% else %>
			<%= raw Link.tag_counts.map {|t| link_to t.name, links_path(tag: t.name), class: "label label-info"}.join(" ") %>
		<% end %>
	</small> 
</h1>

<div class="row">
	<div class="col-sm-12">
		<table class="table">
			<thead>
				<th>Id</th>
				<th>Nombre</th>
				<th>Tags</th>
				<th>Description</th>
				<th></th>	
			</thead>
			<tbody>
				<% @links.each do |l| %>
					<tr>
						<td><%= l.id %></td>
						<td><%= link_to l.name, l, "data-toggle" => "tooltip", title: l.url %></td>
						<td><%= raw l.tag_list.map {|t| link_to t, links_path(tag: t), class: "label label-info"}.join(" ") %></td>
						<td><%= l.description.truncate 50 %></td>
						<td>
							<%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, link_path(l), "data-method" => :delete, class: "label label-default", "data-confirm" => "Seguro de que quieres eliminar este link?" %>
							<%= link_to '<i class="fa fa-external-link"></i>'.html_safe, l.url, class: "label label-default", target: "_blank" %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="newLinkModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Agregar nuevo link</h4>
      </div>

      <div class="modal-body">
        <%= form_for @link, html: {class: "form-horizontal"} do |f| %>
			
					<div class="form-group">
						<%= f.label :name, "Nombre", class: "col-sm-2 control-label" %>
						<div class="col-sm-10">
							<%= f.text_field :name, class: "form-control" %>
						</div>
					</div>
					
					<div class="form-group">
						<%= f.label :url, "Url", class: "col-sm-2 control-label" %>
						<div class="col-sm-10">
							<%= f.text_field :url, class: "form-control", type: "url" %>
						</div>
					</div>

					<div class="form-group">
						<%= f.label :description, "Descripción", class: "col-sm-2 control-label" %>
						<div class="col-sm-10">
							<%= f.text_area :description, class: "form-control" %>
						</div>
					</div>

					<div class="form-group">
						<%= f.label :tag_list, "Tags", class: "col-sm-2 control-label" %>
						<div class="col-sm-10">
							<%= f.text_field :tag_list, class: "form-control" %>
						</div>
					</div>

				<% end %>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Volver</button>
        <button type="button" id="save_link" class="btn btn-primary">Guardar link</button>
      </div>

    </div>
  </div>
</div>

<script type="text/javascript">

	$("#save_link").on("click", function(){
		if($("#link_name").val().trim() && $("#link_url").val().trim()){
			$("#new_link").submit();
			return true;
		}
		else	
			alert("Debes indicar el nombre y la url como mínimo.");	

	});

	//
	$("a[data-toggle=tooltip]").tooltip();
</script>